**/node_modules

**/.terraform/*
**/.terraform

*.tfstate
*.tfstate.*

*.tfvars

# Ignore CLI configuration files
*.terraformrc
*/terraform.rc

# Ignore hcl file
*.terraform.lock.hcl

terraform-lambda-dynamodb/app/build
